{% extends 'base.html.twig' %}

{% block title %}Hello ContentController!{% endblock %}

{% block body %}
<div>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

    <h2>below, all datas in the table 'content'</h2>

    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>col1</th>
            <th>col2</th>
            <th>col3</th>
        </tr>
        </thead>
        <tbody>
        {% for data in allDatas %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{% if data.col1 is same as(false) %}false{% elseif data.col1 == 1 %}true{% else %}null{% endif %}</td>
                <td>{% if data.col2 is same as(false) %}false{% elseif data.col2 == 1 %}true{% else %}null{% endif %}</td>
                <td>{% if data.col3 is same as(false) %}false{% elseif data.col3 == 1 %}true{% else %}null{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>below, the result of the query where <code>addSelect('CASE WHEN ...')</code> and <code>addOrderBy('CASE WHEN ...')</code> are used</h2>

    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>col1</th>
                <th>col2</th>
                <th>col3</th>
                <th>added col4 (via addSelect)</th>
            </tr>
        </thead>
        <tbody>
            {% for result in query %}
                <tr>
                    <td>{{ result[0].id }}</td>
                    <td>{% if result[0].col1 is same as(false) %}false{% elseif result[0].col1 == 1 %}true{% else %}null{% endif %}</td>
                    <td>{% if result[0].col2 is same as(false) %}false{% elseif result[0].col2 == 1 %}true{% else %}null{% endif %}</td>
                    <td>{% if result[0].col3 is same as(false) %}false{% elseif result[0].col3 == 1 %}true{% else %}null{% endif %}</td>
                    <td>{{ result.col4added }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <p><a href="/contentError"><b>but here</b></a>, the query uses 'GROUP BY' with 'CASE WHEN ...' and I get the error 'Cannot group by undefined identification or result variable'</p>

</div>
{% endblock %}
